:root {
    --color-primary: hsl(0, 100%, 74%);
    --color-secondary: hsl(154, 59%, 51%);
    --color-blue-700: hsl(249, 10%, 26%) ;
    --color-grey-100: #ffebe9;
    --color-grey-200: #dddddd;
    --color-grey-300: #b9b6d3;
    --color-blue-400: rgb(96, 85, 165);

    --rounded-md: 9px;

    --shadow-lg: 0 .5em 2px rgba(0, 0, 0, .2);
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {


    font-size: 50%;

    @media only screen and (min-width: 37.53em) {
        font-size: 56.25%;
    }

    @media only screen and (min-width: 56.25em) {
        font-size: 62.5%;
    }
}   

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 1.5;
    background-color: var(--color-primary);
    background-image: url(./images/bg-intro-mobile.png);

    @media only screen and (min-width: 37.5em) {
        background-image: url(./images/bg-intro-desktop.png);
    }
    color: #fff;
}

.container {
    max-width: 114rem;
    width: 90%;
    margin-inline: auto;
}

h1 {
    line-height: 1.3;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: .8125em;
}

input {
    border: 2px solid var(--color-grey-200);
    font-family: inherit;
    color: var(--color-blue-700);
    padding: 1em;
    width: 100%;
    font-weight: 600;
    border-radius: var(--rounded-md);
}

input::placeholder {
    font-family: inherit;
    font-weight: 600;
    color: var(--color-grey-300);
}

input:focus {
    outline: 1px solid var(--color-blue-400);
    border: transparent;
}

.input-feedback {
    font-style: italic;
    font-size: 1.2rem;
    color: var(--color-primary);
    visibility: hidden;
}

input:invalid:focus {
    outline: 1px solid var(--color-primary);
    color: var(--color-primary);
}

input:invalid:focus + img {
    display: block;
}

input:invalid:focus ~ .input-feedback {
    visibility: visible;
}

input:invalid:focus::placeholder {
    color: transparent;
}

.btn {
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--color-secondary);
    padding: 1.25em 3.75em;
    color: inherit;
    border: none;
    border-radius: var(--rounded-md);
    width: 100%;
    cursor: pointer;
    box-shadow: var(--shadow-lg);
}

.btn:hover {
    box-shadow: 0 .5em 1em rgba(0, 0, 0, .2);
}


.section__sign-up {
    padding-block: 8rem;

    @media only screen and (min-width: 37.5em) {
        display: flex;
        align-items: center;
        column-gap: 1.5em;
    }

    @media only screen and (min-width: 56.25em) {
        column-gap: 3em;
    }
}

.sign-up__desc {
    text-align: center;
    max-width: 55ch;
    font-size: 2rem;
    
    @media only screen and (min-width: 37.5em) {
        flex-basis: 45%;
        font-size: 1.5rem;
        text-align: initial;
    }
}

.sign-up__desc > p {
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 4em;
    color: var(--color-grey-100)
}

.sign-up__section-form {
    @media only screen and (min-width: 37.5em) {
        flex-basis: 55%;
    }
}
.sign-up__section-form > p {
    padding: 1em 3em;
    background-color: var(--color-blue-400);
    font-size: 2.2rem;
    border-radius: var(--rounded-md);
    text-align: center;
    margin-bottom: 1em;
    box-shadow: var(--shadow-lg);
}

.cta-offer {
    font-weight: 700;
}

.sign-up__form {
    background-color: #fff;
    padding: 2.4rem;
    border-radius: var(--rounded-md);
    box-shadow: var(--shadow-lg);
}

.form__input-block {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-feedback {
    align-self: flex-end;
    margin-top: 5px;
}
.icon-error {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    width: 2rem;
    display: none;
}

.privacy-terms {
    font-size: 1.3rem;
    color: var(--color-grey-300);
    text-align: center;
    padding-inline: 3rem;
    font-weight: 500;
    margin-top: 2em;
}

.privacy-terms > a:link,
.privacy-terms > a:visited {
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: none;
    font-family: inherit;
}